<p>
  invoices works!
</p>
<ul><li *ngFor = "let invoice of invoices" ></li></ul>
<app-invoiceform (invoiceAddedEvent) = "addInvoice($event)"></app-invoiceform>
<app-invoice [invoice] = "invoice"> </app-invoice>
