
<!-- EDIT  תצוגה של התכונות במסך יופיעו כאשר לא לוחצים על כפור    !--> 
<span *ngIf = "!isEdit" >pid: {{product.pid}}, pname {{product.pname}}, cost {{product.cost}},
categoryid {{product.categoryid}}  </span>

<!-- EDIT  תצוגה של התכונות אותם נרצה לערוך יופיעו כאשר לוחצים על כפור    !--> 
<span *ngIf = "isEdit" >pid: <input type="text" [(ngModel)] = "product.pid">
pname: <input type="text" [(ngModel)] = "product.pname">
cost: <input type="text" [(ngModel)] = "product.cost">categoryid:
 <input type="text" [(ngModel)] = "product.categoryid"></span>

<!--  EDIT יופיע  כאשר לא לוחצים עלDELETE כפתור  !--> 
<button *ngIf = "!isEdit" (click) = "sendDelete()" >Delete</button>

<!-- פשוט לעתיק    !--> 
<button (click) = "toggleEdit()" >{{editButtonText}}</button>

<!-- פשוט לעתיק   !--> 
<button *ngIf = "isEdit" (click) = "cancelEdit()">Cancel</button> 
